<%= form_with(model: team) do |form| %>
  <% if team.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
        <% team.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :idteams, style: "display: block" %>
    <%= form.number_field :idteams %>
  </div>

  <div>
    <%= form.label :team_name, style: "display: block" %>
    <%= form.text_field :team_name %>
  </div>

  <div>
    <%= form.label :team_location, style: "display: block" %>
    <%= form.text_field :team_location %>
  </div>

  <div>
    <%= form.label :team_region, style: "display: block" %>
    <%= form.text_field :team_region %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
