<div id="<%= dom_id team %>">
  <p>
    <strong>Idteams:</strong>
    <%= team.idteams %>
  </p>

  <p>
    <strong>Team name:</strong>
    <%= team.team_name %>
  </p>

  <p>
    <strong>Team location:</strong>
    <%= team.team_location %>
  </p>

  <p>
    <strong>Team region:</strong>
    <%= team.team_region %>
  </p>

</div>
