<div id="<%= dom_id schedule %>">
  <p>
    <strong>Idmatches:</strong>
    <%= schedule.idmatches %>
  </p>

  <p>
    <strong>Teams idteams1:</strong>
    <%= schedule.teams_idteams1 %>
  </p>

  <p>
    <strong>Teams idteams2:</strong>
    <%= schedule.teams_idteams2 %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= schedule.date %>
  </p>

  <p>
    <strong>Tournament place:</strong>
    <%= schedule.tournament_place %>
  </p>

  <p>
    <strong>Team1 points earned:</strong>
    <%= schedule.team1_points_earned %>
  </p>

  <p>
    <strong>Teams2 points earned:</strong>
    <%= schedule.teams2_points_earned %>
  </p>

  <p>
    <strong>Tournaments idtournaments:</strong>
    <%= schedule.tournaments_idtournaments %>
  </p>

</div>
