<div id="<%= dom_id coach %>">
  <p>
    <strong>Idcoaches:</strong>
    <%= coach.idcoaches %>
  </p>

  <p>
    <strong>Coach name:</strong>
    <%= coach.coach_name %>
  </p>

  <p>
    <strong>Coach surname:</strong>
    <%= coach.coach_surname %>
  </p>

  <p>
    <strong>Coach nick:</strong>
    <%= coach.coach_nick %>
  </p>

  <p>
    <strong>Coach age:</strong>
    <%= coach.coach_age %>
  </p>

  <p>
    <strong>Teams idteams:</strong>
    <%= coach.teams_idteams %>
  </p>

</div>
