<div id="<%= dom_id player %>">
  <p>
    <strong>Idplayers:</strong>
    <%= player.idplayers %>
  </p>

  <p>
    <strong>Player name:</strong>
    <%= player.player_name %>
  </p>

  <p>
    <strong>Player surname:</strong>
    <%= player.player_surname %>
  </p>

  <p>
    <strong>Player nick:</strong>
    <%= player.player_nick %>
  </p>

  <p>
    <strong>Player age:</strong>
    <%= player.player_age %>
  </p>

  <p>
    <strong>Teams idteams:</strong>
    <%= player.teams_idteams %>
  </p>

</div>
