<p style="color: green"><%= notice %></p>

<%= render @player %>

<div>
  <%= link_to "Edit this player", edit_player_path(@player) %> |
  <%= link_to "Back to players", players_path, class: "btn btn-secondary" %>

  <%= link_to "Destroy", @player, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
</div>
